.container {
    display: flex;
    flex: 1 0 auto;
    background-color: #fff;
    flex-direction: column;
    height: 100%;
}

.main {
    display: flex;
    flex: 1 0 auto;
}

.content {
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
}
